In [ ]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
cp /content/drive/MyDrive/Song/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle competitions download Home-Credit-Default-Risk

Downloading Home-Credit-Default-Risk.zip to /content
100% 688M/688M [00:14<00:00, 122MB/s]
100% 688M/688M [00:14<00:00, 51.0MB/s]

In [ ]:
! unzip Home-Credit-Default-Risk.zip

Archive:  Home-Credit-Default-Risk.zip
  inflating: HomeCredit_columns_description.csv
  inflating: POS_CASH_balance.csv
  inflating: application_test.csv
  inflating: application_train.csv
  inflating: bureau.csv
  inflating: bureau_balance.csv
  inflating: credit_card_balance.csv
  inflating: installments_payments.csv
  inflating: previous_application.csv
  inflating: sample_submission.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# prompt: a slider using jupyter widgets

import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [ ]:
#bu = pd.read_csv('bureau.csv')
#pre = pd.read_csv('previous_application.csv')
#cre = pd.read_csv('credit_card_balance.csv')
#ins = pd.read_csv('installments_payments.csv')
#pos = pd.read_csv('POS_CASH_balance.csv')
#test = pd.read_csv('application_test.csv')
#train = pd.read_csv('application_train.csv')

In [1]:
bu = pd.read_csv('bureau.csv')

NameError: name 'pd' is not defined

In [ ]:
cre = pd.read_csv('credit_card_balance.csv')

In [ ]:
cre_n = cre.isnull().sum().to_frame()

In [ ]:
cre_n[cre_n['count']!=0].index

Index(['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM'],
      dtype='object')

If there are null values in these columns, it could indicate that the client never used those specific services or made those types of transactions. Here's a breakdown:

- **AMT_DRAWINGS_ATM_CURRENT**: Null values might mean the client never withdrew money from ATMs.
- **AMT_DRAWINGS_OTHER_CURRENT**: Null values could indicate no withdrawals from other locations.
- **AMT_DRAWINGS_POS_CURRENT**: Null values might suggest no purchases made at stores.
- **AMT_INST_MIN_REGULARITY**: Null values could mean there was no minimum installment amount due.
- **AMT_PAYMENT_CURRENT**: Null values might indicate no payments were made during the month.
- **CNT_DRAWINGS_ATM_CURRENT**: Null values could suggest no ATM transactions.
- **CNT_DRAWINGS_OTHER_CURRENT**: Null values might mean no other types of transactions.
- **CNT_DRAWINGS_POS_CURRENT**: Null values could indicate no store transactions.
- **CNT_INSTALMENT_MATURE_CUM**: Null values might suggest no installments were paid.

However, it's important to verify this assumption by checking the data documentation or performing exploratory data analysis. Sometimes, null values can also result from data entry errors or other issues.

In [ ]:
null_col = ['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM']

cre[cre[null_col].isnull().any(axis = 1)]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
45,2657726,399970,-5,0.000,225000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
47,1517613,121258,-6,0.000,135000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
49,2408643,104761,-4,0.000,225000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
52,1322825,215709,-5,0.000,180000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
60,1217908,162464,-5,0.000,45000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840277,1260295,120447,-7,106641.855,765000,101250.0,101250.0,0.0,0.0,0.0,...,102605.355,102605.355,3.0,3,0.0,0.0,0.0,Active,0,0
3840303,1307188,385981,-9,0.000,0,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840306,1410474,255737,-13,0.000,180000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.0,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0

In [ ]:
null_col[:]

['AMT_DRAWINGS_ATM_CURRENT',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_DRAWINGS_POS_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'AMT_PAYMENT_CURRENT',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'CNT_INSTALMENT_MATURE_CUM']

In [ ]:
n = 1
for i in null_col:
  l = cre[i].isnull()
  n+=1
  for j in null_col[n:]:
    l&=((cre[j].isnull())|(cre[j]==0))

In [ ]:
crel = cre[l].fillna(0)

In [ ]:
drop_cre = list(crel.index)

In [ ]:
cre.shape[0]-crel.shape[0]

3535076

In [ ]:
crel.shape[0]

305236

In [ ]:
cre.drop(drop_cre, axis = 0, inplace = True)

In [ ]:
cre1 = pd.concat([cre,crel], axis  = 0)

In [ ]:
cre1.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      487166
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    487166
AMT_DRAWINGS_POS_CURRENT      487166
AMT_INST_MIN_REGULARITY            0
AMT_PAYMENT_CURRENT           512766
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      487166
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    487166
CNT_DRAWINGS_POS_CURRENT      487166
CNT_INSTALMENT_MATURE_CUM          0
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [ ]:
cre1[cre1['SK_ID_CURR'] ==147939]

(94, 23)

In [ ]:
cre1.fillna(0, inplace = True)

In [ ]:
cre1.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [ ]:
# prompt: display all the columns in a dataframe when printing dataframe instead of truncating the  data frame

import pandas as pd
pd.set_option('display.max_columns', None)
cre1.drop(['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT' ], axis = 1, inplace = True)

In [ ]:
cre1['AMT_WITHDRAWN'] = cre1['AMT_DRAWINGS_ATM_CURRENT'] + cre1['AMT_DRAWINGS_OTHER_CURRENT'] + cre1['AMT_DRAWINGS_POS_CURRENT']

In [ ]:
cre1['AMT_WITHDRAWN'] = cre1['AMT_WITHDRAWN']+cre1['AMT_DRAWINGS_CURRENT']

In [ ]:
cre1.drop('AMT_DRAWINGS_CURRENT', axis = 1, inplace = True)

In [ ]:
cre1.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF', 'AMT_WITHDRAWN'],
      dtype='object')

In [ ]:
cre1['CNT_DRAWINGS'] = cre1[['CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT']].sum(axis =1)

In [ ]:
cre1.drop(['CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT'], axis = 1, inplace = True)

In [ ]:
cre1['NAME_CONTRACT_STATUS'].unique()

array(['Active', 'Completed', 'Demand', 'Signed', 'Sent proposal',
       'Refused', 'Approved'], dtype=object)

In [ ]:
cre2 = cre1.sort_values(by = ['SK_ID_CURR', 'MONTHS_BALANCE'], ascending = True)

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'NAME_CONTRACT_STATUS': ['Active', 'Completed', 'Signed', 'Sent proposal', 'Refused', 'Demand', 'Approved']
}


# Mapping of original statuses to new summarized statuses
status_mapping = {
    'Active': 'Active',
    'Signed': 'Active',
    'Approved': 'Active',
    'Completed': 'Completed',
    'Sent proposal': 'Not Approved',
    'Refused': 'Not Approved',
    'Demand': 'Not Approved'
}

# Apply the mapping to create a new column with summarized statuses
cre2['SUMMARY_STATUS'] = cre2['NAME_CONTRACT_STATUS'].replace(status_mapping)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,AMT_WITHDRAWN,CNT_DRAWINGS,SUMMARY_STATUS
1636141,1489396,100006,-6,0.000,270000,0.000,0.000,0.000,0.0,Active,0,0,0.0,0.0,Active
655566,1489396,100006,-5,0.000,270000,0.000,0.000,0.000,0.0,Active,0,0,0.0,0.0,Active
1399895,1489396,100006,-4,0.000,270000,0.000,0.000,0.000,0.0,Active,0,0,0.0,0.0,Active
1347528,1489396,100006,-3,0.000,270000,0.000,0.000,0.000,0.0,Active,0,0,0.0,0.0,Active
520387,1489396,100006,-2,0.000,270000,0.000,0.000,0.000,0.0,Active,0,0,0.0,0.0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437743,1794451,456250,-5,169443.855,180000,8931.420,195.435,169443.855,6.0,Active,0,0,0.0,0.0,Active
310299,1794451,456250,-4,166188.150,180000,8804.565,356.400,166188.150,7.0,Active,0,0,0.0,0.0,Active
1154348,1794451,456250,-3,162425.565,175500,8643.600,522.270,162425.565,8.0,Active,0,0,0.0,0.0,Active
1049726,1794451,456250,-2,158266.935,175500,8477.730,1388.610,158266.935,9.0,Active,0,0,0.0,0.0,Active
140639,1794451,456250,-1,153832.725,175500,8286.390,1600.830,153832.725,10.0,Active,0,0,0.0,0.0,Active

In [ ]:
cre2['SUMMARY_STATUS'].unique()

array(['Active', 'Completed', 'Not Approved'], dtype=object)

In [ ]:
cre2.drop('NAME_CONTRACT_STATUS', axis = 1, inplace = True)

In [ ]:
cre2.to_csv('credit.csv')

In [ ]:
credit = pd.read_csv('credit.csv')
credit.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
sta = pd.get_dummies(credit['SUMMARY_STATUS'], drop_first= True, dtype =  'int')
cred = pd.concat([credit, sta], axis = 1)

In [ ]:
cred.drop('SUMMARY_STATUS', axis =1, inplace = True)
plt.figure(figsize = [35,20])
sns.boxplot(cred)

In [ ]:
cred_t = cred.drop(['SK_ID_PREV', 'SK_ID_CURR', 'Completed', 'Not Approved'], axis = 1)

In [ ]:
from scipy.stats import yeojohnson
from sklearn.preprocessing  import PowerTransformer
pt = PowerTransformer(method = 'yeo-johnson')
cred_tt = pd.DataFrame(pt.fit_transform(cred_t),  columns = cred_t.columns)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
cret = pd.DataFrame(mm.fit_transform(cred_tt), columns = cred_tt.columns)

In [ ]:
# Assuming 'cret' is your DataFrame and 'credit' contains the columns to be inserted
fin_cre = cret.insert(loc=0, column='SK_ID_PREV', value=credit['SK_ID_PREV'])
fin_cre = cret.insert(loc=1, column='SK_ID_CURR', value=credit['SK_ID_CURR'])

cret['Complete'] = cred['Completed']
cret['Not Approved'] = cred['Not Approved']

In [ ]:
cret.to_csv('cret.csv')

Used to make a test

In [1]:
import numpy as np